spring:
  application:
    name: reactivegateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
  config:
    import: "optional:configserver:http://localhost:8888"

server:
  port: 1111

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

security:
  jwt:
    secret: bG9jYWxfZGV2X2p3dF9zZWNyZXRfa2V5XzMyX2J5dGVzIQ==
